#title {
    font-size: 400%;
    width: 60vmax;
}

.center {
    margin: auto;
    padding: auto;
    text-align: center;
}

#image {
    max-width: 70%;
    height: auto;
    display: block;
}

#footImage{
    max-width: 60%;
    height: auto;
}

.font {
    padding: 0px 200px 15px 200px;
}

a:link{
    color: olive;
    text-decoration: none;
}
a:visited{
    color: olivedrab;
}
a:hover{
    color: darkolivegreen;
    text-decoration: underline;
}
@media(orientation: landscape)
{

}